<div id="bookmark-{{ post.id }}" class="flex gap-2">
    <button 
        hx-swap="innerHTML" 
        hx-target="#bookmark-{{ post.id }}"  
        hx-post="{% url 'accounts:add_bookmark' post.id %}">
      <svg id="bookmark-{{ post.id }}" 
           xmlns="http://www.w3.org/2000/svg" 
           fill="{% if post.is_bookmarked or is_bookmarked %}blue{% else %}none{% endif %}" 
           viewBox="0 0 24 24" 
           stroke-width="1.5" stroke="currentColor" 
           class="{% if post.is_bookmarked or is_bookmarked %}fill-blue-500{% else %}none{% endif %} size-6 hover:fill-blue-500">
        <path stroke-linecap="round" stroke-linejoin="round" 
              d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
      </svg>
    </button>
    <p>{{ post.bookmark_set.count }}</p>
  </div>
  