{% load static %}

{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>

  <title>{% block title %} {%endblock%}</title>
  {% tailwind_css %}

</head>

<body  class="bg-black    text-white  " hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

  
  <section class="grid grid-cols-12  [@media(min-width:900px)]:gap-3  bg-black text-white p-4 w-full  overflow-y-auto my-4  ">
    <div class="col-span-1  [@media(min-width:900px)]:col-span-2 text-xl text-left  [@media(min-width:900px)]:text-end">
      <div class="flex flex-col gap-5 text-right fixed [@media(min-width:1150px)]:ml-10   ">
        <a class="flex gap-2 items-center " href="{%url 'posts:home_view' %}">
          <img class="h-5 w-6" src="{%static 'images/logo.svg'%}" alt="">
          <h2 class="hidden [@media(min-width:900px)]:block">SportPost </h2>
        </a>
        <a class="flex gap-2 items-center {% if home_bold %}font-bold{% endif %} " href="{%url 'posts:home_view' %}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
          <h2 class="hidden [@media(min-width:900px)]:block">Home </h2>
        </a>
        <a class="flex gap-2 items-center {% if request.resolver_match.url_name == 'search_view' %}font-bold{% endif %} " href="{%url 'posts:search_view' %}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>

          <h2 class="hidden [@media(min-width:900px)]:block">Search</h2>
        </a>
        <a class="flex gap-2 items-center {% if request.resolver_match.url_name == 'live_score_basketball_view' %}font-bold{% endif %}" href="{%url 'matches:live_score_basketball_view' %}">
          <img class="w-6 h-5 " src="{% static 'images/basketball-ball.svg' %}" alt="">

          <h2 class="hidden [@media(min-width:900px)]:block">live Score</h2>
        </a>
        {% if request.user.is_authenticated %}
        <div class="relative w-full">
         
        <a class="flex gap-2 items-center {% if request.resolver_match.url_name == 'notification_view' %}font-bold{% endif %} " href="{%url 'accounts:notification_view' %}">
          
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
          </svg>
          {%if unread_count > 0%}
          <span class="absolute bottom-5 left-2.5 text-sm bg-blue-500 rounded-full w-4 text-center">
            {{ unread_count }}
        </span>
          {%endif%}

          <h2 class="hidden [@media(min-width:900px)]:block">Notifications</h2>
        </a>
        </div>
        
        <a class="flex gap-2 items-center {% if request.resolver_match.url_name == 'bookmark_view' %}font-bold{% endif %}" href="{%url 'accounts:bookmark_view' %}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
          </svg>

          <h2 class="hidden [@media(min-width:900px)]:block">Bookmarks </h2>
        </a>


        <a class="flex gap-2 items-center {% if profile_bold %}font-bold{% endif %} " href="{%url 'accounts:profile_view' request.user.username %}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
          </svg>

          <h2 class="hidden [@media(min-width:900px)]:block ">Profile </h2>
        </a>
        {% endif %}

      
        {% if request.user.is_authenticated %}
       
      
        <a class="flex gap-2 items-center" href="{%url 'accounts:logout_account' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="22" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
          </svg>


          <h2 class="hidden [@media(min-width:900px)]:block">Logout </h2>
        </a>
        {% else %}
        <a class="flex gap-3 items-center" href="{%url 'accounts:login_account_view' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
          </svg>


          <h2 class="hidden [@media(min-width:900px)]:block">Login </h2>
        </a>
        <a class="flex gap-2 items-center " href="{%url 'accounts:create_account_view' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" fill="currentColor" class="bi bi-r-circle" viewBox="0 0 16 16">
            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.5 4.002h3.11c1.71 0 2.741.973 2.741 2.46 0 1.138-.667 1.94-1.495 2.24L11.5 12H9.98L8.52 8.924H6.836V12H5.5zm1.335 1.09v2.777h1.549c.995 0 1.573-.463 1.573-1.36 0-.913-.596-1.417-1.537-1.417z"/>
          </svg>


          <h2 class="hidden [@media(min-width:900px)]:block">Sign Up </h2>
        </a>
    
       




        {% endif %}

      </div>
      
    </div>

    
    <div class="col-span-11  [@media(min-width:900px)]:col-span-7 text-center border border-gray-700">
     {%if with_score%}
      <div class="flex flex-col  ">

        <div class="relative w-full px-2 border-b border-gray-700">
          <button onclick="document.getElementById('scrollRow').scrollBy({left:-220,behavior:'smooth'})"
            class="absolute  left-0 top-1/2 -translate-y-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
    
          </button>
          <div class="flex gap-10 px-8">
            <div id="scrollRow" class="flex overflow-x-auto no-scrollbar gap-10 px-8 py-5">
              {%for day in days_list%}
              <button {%if live_score%} hx-get="{% url 'matches:score' %}?match_date={{ day.date|date:'Y-m-d'}}" {%else%}hx-get="{% url 'matches:live_score_view' %}?match_date={{ day.date|date:'Y-m-d'}}"{%endif%}
                hx-target="#matches" hx-swap="innerHTML"
                {% if day.is_selected %} autofocus{% endif %} {% if day.is_selected %} class="font-bold" {%endif%}>
                <span class="text-white">{{day.date|date:"b"|upper}}</span>
                <span class="text-white">{{day.date|date:"D"}}</span>
                <span class="text-white">{{day.date|date:"d"}}</span>
              </button>
              {%endfor%}
            </div>
          </div>
          <button onclick="document.getElementById('scrollRow').scrollBy({left:225,behavior:'smooth'})"
            class="absolute z-10 right-0 top-1/2 -translate-y-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
    
    
          </button>
    
    
        </div>
        {%if live_score %}
        <div id="matches">
    
          {% include 'matches/score.html' %}
    
        </div>
        {%else%}
        <div id="matches">
    
          {% include 'matches/live_score.html' %}
    
        </div>
    {%endif%}
      </div>
      {%endif%}
      {% block content %}
      
      {% endblock %}
    </div>
    <div class="hidden  [@media(min-width:900px)]:block col-span-3  ">
      <div class=" fixed w-[20%] ">
      {%if not in_search%}
      <form class=" mx-auto " action="{%url 'posts:search_view'%}" method="get">
        <div class="flex ">
          <span
            class="inline-flex items-center px-3 text-sm text-gray-900 bg-black border border-e-0 border-gray-300 rounded-s-md dark:bg-black dark:text-gray-400 dark:border-gray-600">
            <button> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg></button>

          </span>
          <input type="text" name="q" id="search"
            class="rounded-none rounded-e-lg bg-black border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-black dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search">
        </div>
      </form>
      {%endif%}

      <div {%if users_search%} class="border-2  border-gray-700 " {%else%} class="border-2  border-gray-700 mt-4" {%endif%}>
        <div class="px-4 py-3 flex flex-col gap-5 ">

          <h3 class="text-left text-m  [@media(min-width:1000px)]:text-3xl ">Who to follow</h3>
          {%if  users_search %}
          {%for user in users_search%}
          <a href="{%url 'accounts:profile_view' user.username %}">
            <div class="card flex flex-row gap-4 ">

              <div><img class="h-12 w-12 rounded-full object-cover" src="{{ user.profile.profile_image.url }}"
                  alt="{{ user.username }}'s profile image" />
              </div>
              <div class="flex flex-col text-left">
                <h4>{{ user.profile.name }}</h4>
                <h2 class="text-gray-400">@{{ user.username }}</h2>


              </div>

            </div>
          </a>
          {%endfor%}
          {%else%}          
          {%for user in users%}
          <a href="{%url 'accounts:profile_view' user.username %}">
            <div class="card flex flex-row gap-4 ">

              <div><img class="h-12 w-12 rounded-full object-cover" src="{{ user.profile.profile_image.url }}"
                  alt="{{ user.username }}'s profile image" />
              </div>
              <div class="flex flex-col text-left">
                <h4>{{ user.profile.name }}</h4>
                <h2 class="text-gray-400">@{{ user.username }}</h2>


              </div>

            </div>
          </a>
          {%endfor%}
          {%endif%}

          <a href="{% url 'accounts:search_user_view' %}" class="text-left text-blue-600">view
            all</a>
        </div>
      </div>
    </div>
    </div>
  </section>
 
  <script>
   document.addEventListener("DOMContentLoaded",()=>{
    const buttons =document.querySelectorAll('#scrollRow button')
    buttons.forEach(button=>{
      button.addEventListener('click',()=>{
        buttons.forEach(b=>(b.classList.remove('font-bold')))
        button.classList.add('font-bold')
      })
    })
   })
  </script>
</body>

</html>