{% extends 'posts/base.html' %}
{% block title %}
Page Title
{% endblock %}
{% block content %}
<div class="flex flex-col gap-4 w-full">
  <div class="flex flex-row gap-4 items-center px-3">
  <a href="{%url 'posts:home_view'%} "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
    stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
</svg>
</a>
<h2 class="text-xl">Post</h2>
</div>
{% if post.parent_post %}
  {% include 'posts/recursive_post.html' with post=post %}
{%endif%}


    <div id="tweet-{{ post.id }}" class="card border-2 border-gray-700 p-5 flex gap-5 flex-col ">
      {%include 'posts/post.html'%}
    </div>
<div class="border-b border-gray-600">
    <div class="mx-5">
      <form class="bg-black flex  py-4 m-0 w-full  " action="{% url 'posts:add_replay' post.id %}" method="post">
        {%csrf_token%}
        <div class="flex gap-6 w-full">
        <img class="h-12 w-12 rounded-full object-cover" src="{{ request.user.profile.profile_image.url }}">

        <input class="bg-black text-white border-none w-[90%]" type="text" name="content" placeholder="post your replay" maxlength="240" required>
        <button  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Post</button>
      </div>
      </form>
    </div>
  </div>
  
    <div class="flex flex-col gap-4 w-full">
      {%for replie in replies %}

      <div id="tweet-{{ replie.id }}" class="card border-b-2 border-gray-700 p-5 flex gap-5 flex-col ">
        {%with post=replie%}
        {%include 'posts/post.html'%}
        {% endwith %}
      </div>
      {%empty%}
      <div class="text-center text-3xl">
      <h1>no post</h1>
      </div>
      {%endfor%}

  </div>
</div>


{% endblock %}