{% extends 'posts/base.html' %}
{% block title %}
Page Title
{% endblock %}
{% block content %}
<div class="flex flex-col gap-4 w-full">
  <div class="flex flex-row gap-4 items-center px-3">
  <a href="{%url 'posts:home_view'%} "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
    stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
</svg>
</a>
<h2 class="text-xl">Post</h2>
</div>
{% if post.parent_post %}
  {% include 'posts/recursive_post.html' with post=post %}
{%endif%}

{% if not post.parent_post %}
    <div id="tweet-{{ post.id }}" class="card border-2 border-gray-700 p-5 flex gap-5 flex-col ">
      {%include 'posts/post.html'%}
    </div>
    {%endif%}

<div class="border-b border-gray-600">
    <div class="mx-5">
      <form class="bg-black flex  py-4 m-0 w-full  " action="{% url 'posts:add_replay' post.id %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="w-full mb-4 border border-gray-200 rounded-lg bg-black dark:bg-black dark:border-gray-600 ">
          <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-black ">
              <label for="content" class="sr-only">content</label>
              <textarea name="content" id="content" rows="2"
                  class="w-full px-0 text-sm text-gray-900 resize-y bg-white border-0 dark:bg-black focus:ring-0 dark:text-white dark:placeholder-gray-400  "
                  placeholder="Write a comment..." required maxlength="240"></textarea>
          </div>
          <div class="flex items-center justify-end px-3 py-2 border-t dark:border-gray-600 border-gray-200">
              <div class="flex ps-0 space-x-1 rtl:space-x-reverse sm:ps-2 ">
                  
                  <div class="flex justify-center items-center p-0 m-0">
                  <input class="w-30 file:border file:rounded-xl hover:file:bg-gray-200 file:text-sm file:border-gray-200" type="file" name="image" id="imageUpload" accept="image/*">
              </div>
                  <button type="submit"
                      class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                      Post
                  </button>
              </div>
          </div>
      </div>
      </form>
    </div>
  </div>
    {%if replies%}
    <div class="flex flex-col gap-4 w-full">
      {%for replie in replies %}

      <div id="tweet-{{ replie.id }}" class="card border-b-2 border-gray-700 p-5 flex gap-5 flex-col ">
        {%with post=replie%}
        {%include 'posts/post.html'%}
        {% endwith %}
      </div>
    
      {%endfor%}
      {%endif%}

  </div>
</div>


{% endblock %}