{% extends 'posts/base.html' %}
{% block title %}
Home/SportPost
{% endblock %}
{% block content %}
<div class="flex w-full flex-col  mx-0 ">
    <div class="flex justify-evenly w-full border border-gray-700">
        <a class="  font-bold w-full border-r border-gray-700 hover:bg-gray-900 p-5" href="{% url 'posts:home_view' %}">General</a>
        <a class=" w-full hover:bg-gray-900 p-5" href="{% url 'posts:home_following_view' %}">Following</a>
    </div>
    {% if request.user.is_authenticated %}
    <form class="w-full " method="POST" action="{% url 'posts:add_post' %}" enctype="multipart/form-data">
        {%csrf_token%}

        <div class="w-full mb-4 border border-gray-200 rounded-lg bg-black dark:bg-black dark:border-gray-600 ">
            <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-black ">
                <label for="content" class="sr-only">content</label>
                <textarea name="content" id="content" rows="4"
                    class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-black focus:ring-0 dark:text-white dark:placeholder-gray-400 resize-none "
                    placeholder="What's going on ?" required maxlength="240"></textarea>
            </div>
            <div class="flex items-center justify-end px-3 py-2 border-t dark:border-gray-600 border-gray-200">
                <div class="flex ps-0 space-x-1 rtl:space-x-reverse sm:ps-2 ">
                    
                    <div class="flex justify-center items-center p-0 m-0">
                    <input class="w-30 file:border file:rounded-xl hover:file:bg-gray-200 file:text-sm  file:border-gray-200" type="file" name="image" id="imageUpload" accept="image/*">
                </div>
                    <button type="submit"
                        class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                        Post
                    </button>
                </div>
            </div>
        </div>
    </form>

    {% endif %}


    <div class="flex flex-col gap-4 w-full">
        {% for post in posts %}

        <div id="tweet-{{ post.id }}" class="card border-b-2 border-gray-700 p-5 flex gap-5 flex-col ">
          {%include 'posts/post.html'%}
        </div>
        {%empty%}
        <div class="text-center text-3xl  min-h-[30vh]">
            <h1>No posts yet</h1>
                </div>
        {%endfor%}

    </div>

</div>
{% endblock %}