<div id="post-co">
{% for post in posts %}
<div id="tweet-{{ post.id }}" class="card border-b-2 border-gray-700 p-5 flex gap-5 flex-col ">
  {%include 'posts/post.html'%}
</div>
{%empty%}
<div class="text-center text-3xl mt-5 min-h-[30vh]">
    <h1>No posts yet</h1>
        </div>
{%endfor%}
</div>
{%if posts.has_next%}
<button id="load"  {%if home_following_view%} hx-get="{%url 'posts:home_following_view'%}?page={{posts.next_page_number}}" 
  
 {%else%}hx-get="{%url 'posts:home_view'%}?page={{posts.next_page_number}}"{%endif%}
hx-target="#load"
hx-swap="outerHTML"
class="p-2 text-blue-500">Load More</button>


{%endif%}
</div>