{% extends 'posts/base.html' %}
{% block title %}
bookmarks
{% endblock %}
{% block content %}

<div class="flex flex-col gap-4 w-full">
  <div class="border border-gray-700 p-5 text-lg"><p>Bookmarks</p></div>
    {%for bookmark in request.user.bookmark_set.all %}
    <div id="tweet-{{ bookmark.id }}" class="card border-b-2 border-gray-700 p-5 flex gap-5 flex-col ">
      {%with post=bookmark.post%}
      {%include 'posts/post.html'%}
      {% endwith %}
    </div>
    {%empty%}
    <div class="text-center text-xl mt-3 min-h-[30vh]">
      <h1>You have no bookmarks yet</h1>
    </div>
    {%endfor%}

</div>
{% endblock %}