{% extends 'posts/base.html' %}
{% block title %}
Notifications
{% endblock %}
{% block content %}

<div class="flex flex-col gap-4 w-full">
    <div class="border border-gray-700 p-5 text-lg"><p>Notifications</p></div>
    
    {%for notification in notifications %}
    <div id="tweet-{{ notification.id }}" class="card border-b-2 border-gray-700 p-5 flex gap-5 flex-col ">
      {%if notification.like%}
      <a href="{% url 'posts:detail_post_view' notification.like.post.id %}">
      <div class="flex flex-col text-left gap-4 ">
        <div class="flex">
        <svg   xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6  hover:fill-red-800">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
        </svg>
      <img class="h-10 w-10 rounded-full object-cover ml-2" src="{{ notification.like.user.profile.profile_image.url }}"
      alt="{{ profile.user.username }}'s profile image" />
    </div>
            <p>liked your post {{notification.like.user.username}}</p>
            <p>{{notification.like.post.content}}</p>
          </div>
        </a>
      {%elif notification.follow%}
      <a href="{%url 'accounts:profile_view' notification.follow.follower.username %}">
        <div class="flex flex-col text-left gap-4 ">
        <img class="h-10 w-10 rounded-full object-cover ml-2" src="{{ notification.follow.follower.profile.profile_image.url }}"
        alt="{{ profile.user.username }}'s profile image" />
        <p>{{notification.follow.follower}} followed you</p>
            
            </div>
          </a>
      {%elif notification.repost%}
      <a href="{% url 'posts:detail_post_view' notification.repost.repost_of.id %}">
        <div class="flex flex-col text-left gap-4 ">
          <div class="flex">
            <svg   xmlns="http://www.w3.org/2000/svg" fill="green " viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hover:fill-green-800">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3" />
            </svg>
        <img class="h-10 w-10 rounded-full object-cover ml-2" src="{{ notification.repost.user.profile.profile_image.url }}"
        alt="{{ repost.user.profile.user.username }}'s profile image" />
      </div>
              <p>Repost your post {{notification.repost.user.username}}</p>
              <p>{{notification.repost.repost_of.content}}</p>
            </div>
          </a>
      {%else%}
      {%with post=notification.reply%}
      {%include 'posts/post.html'%}
      {% endwith %}
      {%endif%}
    </div>
    {%empty%}
    <div class="text-center min-h-[70vh] text-xl mt-3">
      <h1>No Notifications</h1>
    </div>
    {%endfor%}

</div>
{% endblock %}