{% extends 'posts/base.html' %}
{% block title %}
Notifications
{% endblock %}
{% block content %}

<div class="flex flex-col gap-4 w-full">
    <div class="border border-gray-700 p-5 text-lg"><p>Notifications</p></div>
    {%for notification in notifications %}
    <div id="tweet-{{ notification.id }}" class="card border-b-2 border-gray-700 p-5 flex gap-5 flex-col ">
      {%with post=notification.reply%}
      {%include 'posts/post.html'%}
      {% endwith %}
    </div>
    {%empty%}
    <div class="text-center text-xl mt-3">
      <h1>No Notifications</h1>
    </div>
    {%endfor%}

</div>
{% endblock %}