{% extends 'posts/base.html' %}
{% block title %}
Page Title
{% endblock %}
{% block content %}
<div>
    <div class="flex flex-row gap-5">
        <a href="{%url 'posts:home_view'%} "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
        </a>
        <div class="flex flex-col text-left">
            <h1>{{posts.0.user.username}}</h1>
            <h1 class="text-gray-600">{{posts.count}} posts</h1>


        </div>
    </div>
</div>
<div class=" border-2 flex flex-col">
    <div class="mx-3">
    <div class="flex text-center justify-between">
        <img class="h-20 w-20 rounded-full object-cover ml-4" src="{{ posts.0.user.profile.profile_image.url }}"
            alt="{{ posts.0.user.username }}'s profile image" />
        <div class="flex items-center">
            <button class="bg-black text-white border-2 border-s-white w-20 h-10 ">wef</button>
        </div>
    </div>
    <div class="text-left felx flex-col">
         <h1>{{posts.0.user.profile.name}}</h1>
         <h1 class="text-gray-600">@{{posts.0.user.username}}</h1>
         <p {% if posts.0.user.profile.text_direction == "text-right" %} class="text-right w-full whitespace-normal break-words" {% else %} class="text-left w-full whitespace-normal break-words" {% endif %}>{{posts.0.user.profile.bio}}</p>
            <h1 class="flex gap-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
          </svg>
          Joined {{ posts.0.user.date_joined|date:"F Y" }}</h1>

        </div>
    </div>
</div>
<div class="flex flex-col gap-4 w-full">
    {% for post in posts %}

    <div id="tweet-{{ post.id }}" class="card border-b-2 border-gray-700 p-5 flex gap-5 flex-col ">
        {%include 'posts/post.html'%}
    </div>

    {%endfor%}

</div>


{% endblock %}