<div
  id="matches"
  hx-get="{% url 'matches:score' %}?match_date={{ selected_date|date:'Y-m-d' }}"
  hx-trigger="every 60s"
  hx-swap="innerHTML"
  class="min-h-[80vh] m-5"
>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3  ">
    {% for match in matches %}
<a href="{%url 'posts:game_post_view' match.game_id %}">

  <div class="card bg-gray-800 min-w-[150px] sm:min-w-[3vw] md:min-w-[14vw] max-h-[20vh] flex-shrink-0 rounded-lg p-2 justify-center items-center relative">
   
  {%if match.game_status == "3" or match.game_status == "2" %}
  <div class="flex flex-col gap-3 w-full">
    <div class="flex justify-between w-full">
      <div class="flex gap-2 w-full items-center">
        <img class="w-6 h-6" src="{{match.home_team.logo.url}}" alt="" >
        <div class="flex flex-col w-full">
          <div class="flex items-center justify-between w-full">
          <h1>{{match.home_score}}</h1>
          <h1 class="text-lg text-white">{{ match.game_status_text }}</h1>

        </div>
      <h1 class="text-sm text-left text-gray-500">{{match.home_team}}</h1>
   
  </div>
</div>
    </div>
    <div class="flex justify-between">
      <div class="flex gap-2 justify-center items-center">
        <img class="w-6 h-6" src="{{match.away_team.logo.url}}" alt="" >
        <div class="flex flex-col">
          <h1 class="text-left">{{match.away_score}}</h1>

      <h1 class="text-sm text-gray-500">{{match.away_team}}</h1>
  </div>
      </div>
    </div>

  </div>
  
    

    
    {%else%}
    <div class="flex flex-col gap-3 w-full">
    <div class="flex justify-between w-full">
      <div class="flex gap-2 w-full items-center">
        <img class="w-6 h-6" src="{{match.home_team.logo.url}}" alt="" >
        <div class="flex flex-col w-full">
          <div class="flex items-center justify-between w-full">
          <h1>{{match.home_score}}</h1>
          <h1 class="text-lg text-white">{{ match.time|time:"g A" }}</h1>

        </div>
      <h1 class="text-sm text-left text-gray-500">{{match.home_team}}</h1>
   
  </div>
</div>
    </div>
    <div class="flex justify-between">
      <div class="flex gap-2 justify-center items-center">
        <img class="w-6 h-6" src="{{match.away_team.logo.url}}" alt="" >
        <div class="flex flex-col">
          <h1 class="text-left">{{match.away_score}}</h1>

      <h1 class="text-sm text-gray-500">{{match.away_team}}</h1>
  </div>
      </div>
    </div>

  </div>
  
    
    {%endif%}
  </div>

</a>
{% endfor %}
</div>
</div>